<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand text-white" href="#">AgentFx</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div></div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Short-URL ID" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Track</button>
            </form>
        </div>
    </nav>
</div>
<div class="center">
    <div class="row" style="width: 100%">
        <div class="col-3">
        </div>
        <div class="col-6">
                <form class="text-right" method="post" action="/url/create-url">
                    <div class="form-group">
                        <input id="url" name="url" class="form-control" placeholder="Enter Long URL">
                    </div>
                    <button type="submit" class="btn btn-outline-danger">Shorten URL</button>
                </form>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>

<style>
    .center{
        display: flex;
        height: 92vh;
        align-items: center;

        background: #141E30;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .navbar{
        background: #3a7bd5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
</style>